@use '../base/variables';

.menu {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    container-name: menu;
    container-type: inline-size;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    &__button,
    &__close {
        color: var(--color-white);
        font-family: var(--font-family);
        font-size: var(--font-size);
        background: none;
        border: none;
        cursor: pointer;
    }

    &__button {
        font-size: 5cqw;
        border-bottom: 1px solid transparent;
        padding: 10px 0;

        &:hover {
            border-bottom: 1px solid var(--color-white);
        }
    }

    &__hide {
        display: none;
    }

    &__close {
        position: absolute;
        width: 8cqw;
        aspect-ratio: 1/1;
        background-image: url("../../../public/close.svg");
        background-repeat: no-repeat;
        transition: rotate 0.5s ease-in-out;
        top: 0;
        right: 0;
        margin: 2cqh;

        &:hover {
            rotate: 90deg;
        }
    }
}