@use 'variables';

body {
    display: flex;
    height: 100dvh;
    justify-content: center;
    font-family: var(--font-family);
    font-size: 1rem;
    background: var(--background);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

router-component {
    position: relative;
}