name: Linter

on:
  pull_request:
    branches: [ main ]

jobs:
  oxlint:
    name: Lint JS
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npx --yes oxlint@1.6.0 --deny-warnings # change to the latest release
